@tailwind base;
@tailwind components;
@tailwind utilities;

.Babas {
  font-family: "Bebas Neue", sans-serif;
}

.Urbanist {
  font-family: "Urbanist", sans-serif;
}

.Cabin {
  font-family: "Cabin", sans-serif;
}
